# build
./.angular/
./dist/

# configs
./.configs/*.cspell
./.configs/.stylelintrc.json

./cspell.json
./.editorconfig

# docker
./.docker/

# git
./.git/
./.github/
./.gitignore

# npm
./node_modules/

# vscode
./.vscode/
